<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page {{smartTableData}}
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="smartTableData">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="nama">Nama</th>
      <th st-sort="alamat">Alamat</th>
      <th st-sort="golongan">Golongan</th>
      <th st-sort="meteran_lalu">Meteran Lalu</th>
      <th st-sort="meteran_sekarang">Meteran Sekarang</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="nama" placeholder="Search Nama" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="alamat" placeholder="Search Alamat" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="golongan" placeholder="Search Golongan" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="meteran_lalu" placeholder="Search Meteran Lalu" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="meteran_sekarang" placeholder="Search Meteran Sekarang" class="input-sm form-control search-input" type="search"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in peopleTableData">
      <td class="table-id">{{item.loka}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.alamat}}</td>
      <td>{{item.golongan}}</td>
      <td>{{item.meteran_lalu}}</td>
      <td>{{item.meteran_sekarang}}
          </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
